<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <script data-main="js/app.js" src="js/require.js"></script>
  <title>JS-13-14</title>
</head>

<body>
  <script type="text/template" id="wrapper-template">
    <div class="wrapper">
      <h1 class="title">Note List</h1>
      <ul class="item-list"></ul>
      <div class="controlls">
        <input type="text" class="item-value">
        <button class="item-add">ADD</button>
      </div>
    </div>
  </script>
  <script type="text/template" id="list-template">
    <% for (var i = 0; i < data.length; i++) { %>
      <li>
        <%= data[i] %> <span data-value="<%= data[i] %>" class="item-edit">edit</span><span data-value="<%= data[i] %>" class="item-delete">X</span></li>
      <% }; %>
  </script>
</body>

</html>